/* .hello{
  width:  'isSidebarOpen ? '16%' : '0%' ';
  transition: 'width 0.3s ease' ;
} */




/*  
  .container {
    border: '1px solid #ccc';
    borderRadius: 10px;
    padding: 30px;
    maxWidth: '1000px';
    margin: 'auto';
    backgroundColor: '#fdfdfd';
    fontFamily: 'Segoe UI, sans-serif';
    color: '#111';
    boxShadow: '0 2px 10px rgba(0,0,0,0.1)'
  },

  centerText: {
    textAlign: 'center',
    margin: '8px 0',
    textTransform: 'uppercase',
    fontWeight: 'bold'
  },
  subHeader: {
    fontSize: '14px',
    color: '#444',
    margin: '4px 0',
    textAlign: 'center'
  },
  infoRow: {
    display: 'flex',
    justifyContent: 'space-between',
    flexWrap: 'wrap',
    marginTop: '20px',
    marginBottom: '10px',
    fontSize: '15px'
  },
  categoryTitle: {
    marginTop: '20px',
    fontWeight: 'bold',
    fontSize: '18px',
    borderBottom: '1px solid #ddd',
    paddingBottom: '5px',
    color: '#222'
  },
  itemsText: {
    lineHeight: '2em',
    fontSize: '16px',
    display: 'flex',
    flexWrap: 'wrap'
  },
  itemSpan: {
    marginRight: '20px',
    marginBottom: '10px',
    display: 'inline-flex',
    alignItems: 'center'
  },
  removeButton: {
    marginLeft: '8px',
    background: '#fff',
    border: '1px solid #ddd',
    borderRadius: '4px',
    cursor: 'pointer',
    fontSize: '14px',
    color: '#d00',
    padding: '2px 6px',
    transition: '0.3s'
  },
  noItemsText: {
    fontStyle: 'italic',
    color: '#aaa'
  }
};












































/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */  
